:root {
  --clr-primary: #e5e5e5;
  --clr-primary-b1: #2230d2;
  --clr-primary-b300: #1a30ff;
  --clr-primary-b400: #1f31ff;
  --clr-primary-b50: #ebebff;
  --clr-neutral-n0: #fff;
  --clr-neutral-n1: #091e42;
  --clr-neutral-n7: #c1c7d0;
  --clr-neutral-n5: #5e6c84;
  --clr-neutral-n10: #f7f7f9;
  --clr-neutral-n40: #535679;
  --clr-neutral-n60: #b3bac5;
  --clr-neutral-n100: #525766;
  --clr-neutral-n600: #344563;
  --clr-neutral-n700: #253858;
  --clr-neutral-n800: #172b4d;
  --ff: "Poppins", sans-serif;
}

/* -------CSS reset------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* ----------------------- */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.pl0 {
  padding-left: 0;
}

.phone {
  display: none;
}

body {
  font-family: var(--ff);
  background-color: var(--clr-primary);
}

header {
  background-color: var(--clr-neutral-n0);
}

/* BUTTONS SETUP */
.btn {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid var(--clr-primary-b300);
  border-radius: 8px;
  cursor: pointer;

  /* Text inside */
  font-weight: 500;
  font-size: clamp(0.8rem, 1.0625rem, 1.4rem);
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-primary-b400);
  transition: 0.25s ease-in-out;
}

.btn:hover {
  border-color: transparent;
  background-color: var(--clr-primary-b400);
  color: var(--clr-neutral-n0);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.25s ease-in-out;
  transform: scale(1.15);
}

.btn:disabled {
  background-color: transparent;
  color: var(--clr-neutral-n5);
  border: 1px solid var(--clr-neutral-n7);
}

.btn:active {
  border-color: transparent;
  background-color: var(--clr-primary-b1);
  color: var(--clr-neutral-n0);
  transition: 0.15s ease-in;
}

.logo {
  color: var(--clr-primary-b400);
}

.navbar > * + * {
  padding-left: 0.5rem;
}

.nav__item {
  color: var(--clr-neutral-n600);
}

.hamburger {
  align-self: center;
  background: transparent;
  border: none;
}

.headline {
  background-color: var(--clr-neutral-n0);
  border-radius: 0 0 0 7rem;
}

.p {
  max-width: 75ch;
}

/* PROJECTS */
.projects {
  padding: 7.125rem 1.5rem;
  overflow-x: hidden;
  gap: 4.5rem;
}

.cover img {
  width: 100%;
  height: auto;
}

.canopy ul {
  list-style: url(./../../assets/img/mb_li_dot.svg) outside;
  color: var(--clr-neutral-n100);
  font-size: clamp(0.5rem, 0.8125rem, 1rem);
  gap: 2.8rem;
}

.canopy li {
  width: calc(50% - 1.8rem);
  white-space: nowrap;
}

.card-text {
  max-width: 35ch;
}

.tech__wrapper {
  padding-left: 0;
  margin-left: 0;
  gap: clamp(0.35rem, 0.5rem, 0.8rem);
}

.tech__wrapper a {
  border-color: transparent;
  background: var(--clr-primary-b50);
  border-radius: 8px;
  padding: 4px 12px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  font-size: clamp(0.5rem, 0.75rem, 1.3rem);
  color: var(--clr-primary-b400);
}

@media screen and (max-width: 768px) {
  .phone {
    display: initial;
  }

  .desktop {
    display: none;
  }
}